body {
  background-image: linear-gradient(180deg, #050520 0%, #060644 100%),
    url("./assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  font-family: "Gotham Rounded", sans-serif;
}

.gradient-border {
  position: relative;
  /* border-radius: 100px; */
  background: linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #7670ff 0%, #5b42ff 100%) border-box;
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
  box-shadow: 0px 0px 8px 0px #4b4cff;
}

button {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: scale(1.01);
}

button:hover {
  transform: scale(1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 8px 0px #4b4cff;
  -moz-box-shadow: 0px 0px 8px 0px #4b4cff;
  box-shadow: 0px 0px 8px 0px #4b4cff;
}

.chatbox_input{
  padding: 20px;
  border-radius: 20px;
}
/* width */
.custom_scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom_scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.custom_scrollbar::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


div#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100vh;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  width: fit-content;
  animation: scroll 30s linear infinite;
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}
